# PHPStorm
.idea

# Composer
vendor
composer.phar
composer.lock

# Bower
bower_components

# Node
node_modules

# Public
public/js
public/css
public/fonts

# Pre-Compiled Assets
assets/js
assets/css

# Fenom Cache
var/cache

# User Config
config/config.json

# Logs
logs