@section_color: #A7ADD3;
@author_color: #381D4A;
@tags_color: #3286BA;
@comments_color: #A6A6A6;
@grey: #9B9B9B;

.header {
  background: @author_color;
  padding: 0 30px 10px 30px;
  margin-bottom: 20px;
  box-shadow: 0 0 20px black;
  border-bottom: 1px solid @grey;
  position: fixed;
  z-index: 100;
  img {
    margin-top: 15px;
  }
}

.container {
  padding-top: 100px;
}

.post {
  margin-bottom: 20px;
  .section a, .author a, .post-footer a {
    color: white;
    text-decoration: none;
  }

  .title a {
    color: #373737;
    text-decoration: none;
  }

  .title {
    font-size: 150%;
  }

  .date {
    font-size: 70%;
    font-family: monospace;
    color: @grey;
    margin: -3px 0 5px 0;
  }

  .section {
    background: @section_color;
    display: inline;
    padding: 2px 4px;
    color: white;

    &:hover {
      background: darken(@section_color, 30%);
      cursor: pointer;
    }
  }

  .author {
    background: @author_color;
    display: inline;
    padding: 2px 4px;
    color: white;
    &:hover {
      background: darken(@author_color, 30%);
      cursor: pointer;
    }
  }

  .post-content {
    padding: 10px;
    margin-bottom: 10px;
    .body {
      padding-top: 20px;
      border-top: 1px solid silver;
      margin-top: 20px;
    }
  }

  .post-footer {
    .comments {
      background: @comments_color;
      border-radius: 3px;
      border-bottom: 3px solid @tags_color;
      display: inline;
      padding: 2px 4px;
      color: #fff;
      &:hover {
        background: darken(@comments_color, 30%);
        cursor: pointer;
      }
    }

    .tags {
      display: inline-block;
      border-bottom: 3px solid @tags_color;
      border-radius: 3px;
      .tag {
        background: @tags_color;
        display: inline;
        padding: 2px 4px;
        color: #fff;
        border-radius: 3px 3px 0 0;
        &:hover {
          background: darken(@tags_color, 30%);
          cursor: pointer;
        }
      }
    }
  }
}

.tag-review {
  list-style: none;
  margin: 0;
  padding: 0 10px;
  line-height: 25px;
  a {
    color: white;
    text-decoration: none;
  }
}

.tag-review li {
  background: @tags_color;
  color: white;
  display: inline;
  padding: 2px 5px;
  border-radius: 3px;
  &:hover {
    background: darken(@tags_color, 30%);
    cursor: pointer;
  }
}

.projects {
  margin-bottom: 20px;
  border-bottom: 1px solid silver;
  .project {
    padding: 10px;
    padding-bottom: 30px;
  }
}
